body{
    margin: 0;
    padding: 0;
    background-color: black;
}
html {
    scroll-behavior: smooth;
}
.nav-container{
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    height: 46px;
}
.a-container{
    float: left;
    display: flex;
}
.logo-container{
    float: right;
    display: flex;
}
.img-logo{
    height: 46px;
    width: 60px;
}
.a-menu{
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.a-menu:hover {
    background-color: #eee;
    font-weight: bold;
  }
.about{
    padding-bottom: 100px;
    background-color: black;
    overflow: hidden;
}
.card{
    width:80%;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
    overflow: hidden;
}
.card-list{
    width:300px;
    margin-top: 50px;
    overflow: hidden;
    color: #fff;

}

.card-image{
    width:100%;
    height: 200px;

}
.card-image img{
    width:100%;
    height: 200px;
    object-fit: cover;
}
.card-text{
    width:90%;
    
}