body{
    margin: 0;
    padding: 0;
    background-color: black;
}
html {
    scroll-behavior: smooth;
}

.about{
    padding-bottom: 100px;
    background-color: black;
    overflow: hidden;
}
.card{
    width:80%;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
    overflow: hidden;
}
.card-list{
    width:300px;
    margin-top: 50px;
    overflow: hidden;
    color: #fff;

}

.card-image{
    width:100%;
    height: 200px;

}
.card-image img{
    width:100%;
    height: 200px;
    object-fit: cover;
}
.card-text{
    width:90%;
    
}