
body{
    margin:0;
    padding: 0;
    background-color: #c1bdbf;
}
html {
    scroll-behavior: smooth;
}

.container {
	background-color: #d8dde0;
	color:  #4d534d;
	margin: 10vh auto;
	border-radius: 16px;
	padding: 30px;
	width: 50vw;
	border: #d8dde0 1px solid;
	text-align: center;
}
.container label {
	font-size: 1.5em;
	margin-bottom: 5px;
	display: inline-block;
    text-align: center;
	font-weight: bold;
}
.container .field-column {
	padding: 30px 10px 0px 10px;
	text-align: center;
}
.demo-input-box {
	text-align: center;
	padding: 8px;
	border: #d8dde0 1px solid;
	border-radius: 16px;
	width: 100%;
    transition: .3s;
}
.demo-input-box:focus{
	background-position: right center;
	font-weight: bold;
	font-size: 1.3em;
}
.demo-input-box:hover{
	background-position: right center;
	font-weight: bold;
	font-size: 1.3em;
}
.btnBuscar{
	padding: 8px;
	cursor: pointer;
	width: 100%;
	color:  #4d534d;
	background-size: 200% auto;
	margin: 0px 0px 5px 0px;
	transition: .3s;
	background-color: #d8dde0;
    font-size: 1em;
	border: none;
}
.btnBuscar:hover{
    background-position: right center;
	font-weight: bold;
	font-size: 1.7em;
}

.nav-container{
	position: fixed;
	top: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #fff;
	height: 46px;
}
.a-container{
	float: left;
	display: flex;
}
.logo-container{
	float: right;
	display: flex;
}
.img-logo{
	height: 46px;
	width: 60px;
}
.a-menu{
	display: block;
	color: #333;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.a-menu:hover {
	background-color: #eee;
	font-weight: bold;
  }
