:root{
    --background: #d8dde0;
    --contenedor: #c1bdbf;
    --letraCambio: #000015;
    --cambio: #9d9b9d;
    --letra: #4d534d;
}


body{
    margin: 0;
    padding: 0;
    background-color: var(--contenedor);
    font-size: 2.5em;
    font-weight: bold;
    color: var(--letra);
    display: flex;
    text-align: center;
    justify-content: center;
}
